.header {
    margin-left: 200px;
    -webkit-transition: margin-left 0.3s linear;
    transition: margin-left 0.3s linear;
}
.header.active {
    margin-left: 70px;
}

.main-footer.active {
    margin-left: 70px;
}

.btn-login {
    width: 200px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    font-size: 0.8em;
    margin-bottom: 0;
    color: #fff;
}